workflows/weekly-dev-summary.json
{
  "name": "Weekly Dev Summary — Claude + GitHub",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      }
    },
    {
      "id": "github-commits",
      "name": "Fetch Weekly Commits",
      "type": "n8n-nodes-base.git",
      "typeVersion": 2,
      "position": [450, 200],
      "parameters": {
        "repository": "={{ $json.owner }}/{{ $json.repo }}",
        "since": "={{ $json.since }}",
        "operation": "log"
      }
    },
    {
      "id": "github-issues",
      "name": "Fetch Closed Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 400],
      "parameters": {
        "url": "={{ $json.baseUrl }}/search/issues?q=repo:{{ $json.owner }}/{{ $json.repo }}+type:issue+state:closed+updated:>{{ $json.since }}&sort=updated&per_page=20",
        "options": {
          "headers": {
            "Accept": "application/vnd.github.v3+json",
            "Authorization": "Bearer {{ $json.githubToken }}"
          }
        }
      }
    },
    {
      "id": "github-prs",
      "name": "Fetch Merged PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 600],
      "parameters": {
        "url": "={{ $json.baseUrl }}/search/issues?q=repo:{{ $json.owner }}/{{ $json.repo }}+type:pr+is:merged+updated:>{{ $json.since }}&sort=updated&per_page=20",
        "options": {
          "headers": {
            "Accept": "application/vnd.github.v3+json",
            "Authorization": "Bearer {{ $json.githubToken }}"
          }
        }
      }
    },
    {
      "id": "combine-data",
      "name": "Combine & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400],
      "parameters": {
        "language": "python",
        "code": "# =============================================
# Combine GitHub data into a prompt for Claude
# =============================================

import json
from datetime import datetime, timezone

items = items or [{}]
input_data = items[0].get('json', {})

# Collect all GitHub data
commits = input_data.get('githubCommits', [])
issues = input_data.get('githubIssues', {}).get('items', [])
prs = input_data.get('githubPRs', {}).get('items', [])

owner = input_data.get('owner', 'owner')
repo = input_data.get('repo', 'repo')
language = input_data.get('language', 'EN')
since = input_data.get('since', '')

# Format commits
commit_lines = []
for c in commits[:30]:
    msg = c.get('message', '').split(chr(10))[0][:80]
    author = c.get('author_name', 'unknown')
    commit_lines.append(f\"  - {msg} ({author})\")

# Format issues
issue_lines = []
for i in issues[:10]:
    issue_lines.append(f\"  - #{i['number']} {i['title']}\")

# Format PRs
pr_lines = []
for p in prs[:10]:
    pr_lines.append(f\"  - #{p['number']} {p['title']}\")

# Build prompt
date_str = datetime.now(timezone.utc).strftime('%B %d, %Y')
period = since.split('T')[0] if 'T' in since else since

prompt = f\"\"\"Generate a weekly development summary for {owner}/{repo}.

Period: {period} to {date_str}

## Commits ({len(commits)} total)
{chr(10).join(commit_lines) if commit_lines else 'No commits this week.'}

## Closed Issues ({len(issues)} total)
{chr(10).join(issue_lines) if issue_lines else 'No issues closed this week.'}

## Merged PRs ({len(prs)} total)
{chr(10).join(pr_lines) if pr_lines else 'No PRs merged this week.'}

Write a concise narrative summary (3-5 paragraphs) highlighting:
1. Major themes and focus areas
2. Key changes and their impact
3. Notable fixes or improvements
4. Recommendations for next week

Write in {'English' if language == 'EN' else 'French'}.
Keep it professional but engaging.
\"\"\"

return [{\"json\": {\"prompt\": prompt, \"owner\": owner, \"repo\": repo, \"language\": language, \"counts\": {\"commits\": len(commits), \"issues\": len(issues), \"prs\": len(prs)}}}]
"
      }
    },
    {
      "id": "claude-api",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [950, 400],
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-20250514"
            },
            {
              "name": "max_tokens",
              "value": 2048
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "user",
                  "content": "={{ $json.prompt }}"
                }
              ]
            }
          ]
        },
        "options": {
          "headers": {
            "x-api-key": "={{ $json.claudeApiKey }}",
            "anthropic-version": "2023-06-01",
            "Content-Type": "application/json"
          }
        }
      }
    },
    {
      "id": "format-output",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 400],
      "parameters": {
        "language": "python",
        "code": "# Format the final output
items = items or [{}]
claude_response = items[0].get('json', {}).get('claudeResponse', {})

content = ''
for block in claude_response.get('content', []):
    if block.get('type') == 'text':
        content = block.get('text', '')

return [{\"json\": {\"summary\": content}}]
"
      }
    },
    {
      "id": "slack-webhook",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1400, 300],
      "parameters": {
        "channel": "={{ $json.channel }}",
        "text": "={{ $json.summary }}",
        "otherOptions": {
          "username": "Weekly Dev Summary Bot",
          "icon_emoji": ":robot_face:"
        }
      },
      "credentials": {
        "slackApi": "{{ $json.slackCredential }}"
      }
    },
    {
      "id": "webhook-alt",
      "name": "Webhook Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1400, 600],
      "parameters": {
        "url": "={{ $json.webhookUrl }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "text", "value": "={{ $json.summary }}"},
            {"name": "source", "value": "weekly-dev-summary"}
          ]
        }
      }
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [[{"node": "Fetch Weekly Commits", "type": "main", "index": 0}]]
    },
    "Fetch Weekly Commits": {
      "main": [[{"node": "Fetch Closed Issues", "type": "main", "index": 0}]]
    },
    "Fetch Closed Issues": {
      "main": [[{"node": "Fetch Merged PRs", "type": "main", "index": 0}]]
    },
    "Fetch Merged PRs": {
      "main": [[{"node": "Combine & Format", "type": "main", "index": 0}]]
    },
    "Combine & Format": {
      "main": [[{"node": "Call Claude API", "type": "main", "index": 0}]]
    },
    "Call Claude API": {
      "main": [[{"node": "Format Summary", "type": "main", "index": 0}]]
    },
    "Format Summary": {
      "main": [[{"node": "Send to Slack", "type": "main", "index": 0}], [{"node": "Webhook Fallback", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": ["weekly", "github", "claude", "summary"]
}
